*{
  box-sizing: border-box;
  margin: 0;
}
body{
  margin: 0;
}
.column-grey{
  padding-top: 15px;
  padding-left: 25px;
  height: 13vh;
  background-color: rgb(198, 200, 199);
  width: auto;
}
.column-white{
  height: 35vh;
  padding-top: 40px;
  background-color: white;
  width: auto;
}
.blue-box-white{
  height: 10vh;
  width: 10vh;
  background-color: rgb(31, 131, 180);
}
.par-white{
  color: black;
  font-size: 320%;
  margin-left: 5%;
  margin-right: 5%;

}
.column-blue{
  height: 13vh;
  width: auto;
  background-color: rgb(31, 131, 180);
}
.column-green{
  height: 13vh;
  width: auto;
  background-color: rgb(17, 223, 186);
}
.column-green-yellow{
  height: 13vh;
  width: auto;
  background-color: rgb(137, 161, 116);
}
.column-yellow{
  height: 13vh;
  width: auto;
  background-color: rgb(235, 240, 11);
}
